<div class="trillo-form" name="F1" nm="F1" style="width: 700px; padding: 20px; border: 1px solid rgb(238, 238, 238); border-radius: 5px;">
  <form data-container="" class="">
    <h1 data-component="h1" class="trillo-component" nm="h1_1"> This happens to me my place </h1>
    <div data-component="row1Col" data-row="" class="form-row">
      <div data-column="" class="col-md-4">
        <div data-component="text" class="form-group" nm="Text_1">
          <label data-label="" for="Text_1">Text_1</label>
          <input data-field="" type="text" class="form-control" nm="Text_1">
        </div>
      </div>
      <div data-column="" class="col-md-2">
        <button data-component="button" type="button" class="btn btn-primary" nm="Button_1">Button_1</button>
      </div>
      <div data-column="" class="col-md-2">
        <button data-component="submit" type="submit" class="btn btn-primary" nm="Submit_1">Submit_1</button>
      </div>
    </div>
    <div data-component="datetime" class="form-group" nm="DateTime_1">
      <label data-label="" for="DateTime_1">DateTime_1</label>
      <input data-field="" type="text" class="form-control" nm="DateTime_1">
    </div>
    <div data-component="time" class="form-group" nm="time_1">
      <label data-label="" for="time_1">time_1</label>
      <input data-field="" type="text" class="form-control flatpickr-input" placeholder="Click to pick a date" nm="time_1">
    </div>
    <div data-component="row1Col" data-row="" class="form-row">
      <div data-column="" class="col-md-6">
        <div data-component="range" class="form-group" nm="range_1">
          <label data-label="" for="range_1">range_1</label>
          <input data-field="" type="range" class="custom-range" min="0" max="5" nm="range_1">
        </div>
      </div>
      <div data-column="" class="col-md-6">
        <button data-component="button" type="button" class="btn btn-primary" nm="Button_2">Button_2</button>
      </div>
    </div>
    <div data-component="number" class="form-group" nm="Number_2">
      <label data-label="" for="Number_2">Number_2</label>
      <input data-field="" type="number" class="form-control" nm="Number_2">
    </div>
    <div data-component="row1Col" data-row="" class="form-row">
      <div data-column="" class="col-md-6">
        <div data-component="datetime" class="form-group" nm="DateTime_2">
          <label data-label="" for="DateTime_2">DateTime_2</label>
          <input data-field="" type="text" class="form-control" nm="DateTime_2">
        </div>
      </div>
      <div data-column="" class="col-md-6">
        <div data-component="number" class="form-group" nm="Number_3">
          <label data-label="" for="Number_3">Number_3</label>
          <input data-field="" type="number" class="form-control" nm="Number_3">
        </div>
      </div>
    </div>
    <div data-component="search" class="form-group" nm="Search_1">
      <label data-label="" for="Search_1">Search_1</label>
      <input data-field="" type="search" class="form-control" nm="Search_1">
    </div>
  </form>
  <small class="form-control-feedback trillo-display-none js-field-error"></small>
  <small class="form-text text-muted trillo-display-none js-field-message"></small>
</div>
